<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>twanalyzer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/twanalyzer</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  
  	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>${productionMode}</param-value>
	</context-param>
	<servlet>
		<servlet-name>TwitterAnalyzer</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>edu.boun.cmpe.swe574.twanalyzer.view.DashboardUI</param-value>
		</init-param>
		<init-param>
			<param-name>UIProvider</param-name>
			<param-value>edu.boun.cmpe.swe574.twanalyzer.view.DashboardUIProvider</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>TwitterAnalyzer</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>